/********DEFINICOES GERAIS********/

/*Para desktop:*/
body{
    font-family: "Lato";
}

.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
}

.number{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    
}

.word, .word-2{
    text-align: center;
    /*color: #66FFFF;*/
    color: #009FE3;
    text-transform: uppercase;
}

.word-2{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
    transform: scaleX(-1);
    mix-blend-mode: multiply;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .titulo{
        font-size: calc(6rem*0.60);
    }
    .number{
        font-size: calc(2.25rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .titulo{
        font-size: calc(6rem*0.40);
    }

    .number{
        font-size: calc(2.25rem*0.40);
    }
    
}




/*
.content{
    font-size: 50px;
    position:absolute;
    top:50%;
    left:50%;
    text-wrap: wrap;
    transform: translateX(-50%) translateY(-50%);
}*/

/*********CONTENTOR-1*********/

/*for desktop*/
.s-1{
    background-color: white;
}

.titulo-cima, .titulo-baio{
    font-size: 6.875rem;
}

.looking{
    top:38.5%;
    font-family: Altabaixa2;
    font-size: 20.625rem;
}

/*for tablet: 1024px ... tirar o vertical scroll*/
@media only screen and (max-width: 1024px){
    .titulo-cima, .titulo-baio{
        font-size: calc(6.875rem * 0.60);
    }
    
    .looking{
        font-size: calc(20.625rem* 0.60);
    }
    
}

/*for mobile -> usar sempre na horizontal!*/
@media only screen and (max-width: 768px){
    .titulo-cima, .titulo-baio{
        font-size: calc(6.875rem * 0.40);
    }
    
    .looking{
        font-size: calc(20.625rem* 0.40);
    }
    
}

/**/
.s-2{
    background-color: beige;
}

.s-3{
 background-color: blue;  
}

/*******CONTENTOR 5*******/
/*s-5 01-works: capa*/

/*for desktop*/
.works{
    top:47%;
    font-family: "Franklin Gothic Demi"; /*n ta a funcionar :c*/
    font-size: 17rem;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
}
/*tablet*/
@media only screen and (max-width: 1024px){
    .works{
        font-size: calc(17rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .works{
        font-size: calc(17rem*0.40);
    }
    
}

/*****CONTENTOR 7*****/
/*S-5 02 History capa*/

/*for desktop*/
.history{
    top:47%;
    font-family: "Eurostile LT Std"; /*n ta a funcionar :c*/
    font-size: 15.5rem;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 700;
}



/*****CONTENTOR 9*****/
/*S-9 03 Name capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 11*****/
/*S-11 04 Design capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 13*****/
/*S-13 05 There capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 16*****/
/*S-16 06 Made capa*/

/*for desktop*/
/*cooonnnnttt*/



/*****CONTENTOR 18*****/
/*S-18 07 Reminds capa*/

/*for desktop*/
/*cooonnnnttt*/



/*****CONTENTOR 20*****/
/*S-20 08 Beautifull capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 22*****/
/*S-22 09 Ugly capa*/

/*for desktop*/
/*cooonnnnttt*/



/*****CONTENTOR 24*****/
/*S-24 10 Boring capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 27*****/
/*S-27 11 Special capa*/

/*for desktop*/
/*cooonnnnttt*/


/*****CONTENTOR 29*****/
/*S-29 12 Believe capa*/

/*for desktop*/
/*cooonnnnttt*/

/*****CONTENTOR 31*****/
/*S-31 13 Can't not capa*/

/*for desktop*/
/*cooonnnnttt*/