.s2-1{
    background-color: #fff;
}

.s2-3{
    position: relative; 
    background-color: #fff;  
}

.s2-4{
    position: relative; 
    background-color: #fff;  
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

header a, header img {
    margin-right: 60px; 
}

header a:first-child, header img:first-child {
    margin-right: 60px;
}
body {
    padding-top: 100px; 
    margin: 0; 
}
header img {
    vertical-align: middle; 
    max-width: 100%; 
    height: auto; 
  }

  .content2.c2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }


  .s2-2 {
    position: relative; 
    background-color: #fff;    
}


    .content2.c2-2 {
        position: absolute; 
        left: -100px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }


    .title {
        position: relative;
        text-align: left;
        top: 70px;
        left: 0px;
        font-family: 'Lato', sans-serif;
        font-size: 32px;
        font-weight: 700;        
    }

    .normal-title {
        color: #5FC6F1;
        z-index: 1;
    }

    .inverted-title {
        position: absolute;
        color: #E00918; 
        transform: scaleX(-1);
        mix-blend-mode: multiply;
        display: block; 
        z-index: 2;
    }

    .text-container {
        position: absolute;
        margin-top: 60px;
        left: 50px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify;
        
    }

    .text-container p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-wrap: wrap;
        text-align: justify;
        text-justify: inter-word;
    }

    .video-container {
        position: absolute;
        left: 650px;
        margin-top: 10px;
        height: auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .video-container video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .container1-text {
        position: absolute;
        margin-top: 60px;
        left: 20px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify; 
    }

    .container1-text p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }
    .image-container {
        position: absolute;
        left: 500px;
        right: 0px; 
        top: 30px;
        margin-top: 30px;
        bottom: 0px;
        width: 50%; 
        overflow: hidden; 
    }

    .image-container img {
        height: 60%;
        width: auto;
    }

    .container2-text {
        position: absolute;
        margin-top: 60px;
        left: 1000px;
        max-width: 480px;
        text-wrap: wrap;
        text-align: justify;
        
    }

    .container2-text p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .container3-text {
        position: absolute;
        margin-top: 60px;
        left: 1520px;
        width: 480px;
        max-width: 480px;
        text-align: justify;
        
    }

    .container3-text p {
        margin: 0;
        text-wrap: wrap;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-justify: inter-word;
    }

    .image-container1 {
        position: absolute;
        left: 1000px; 
        top: 350px;
        width: 600px;
        height: 480px;
        bottom: 0px;
        overflow: hidden; 
    }

    
    .image-container1 img {
        height: 70%;
        width: 100%s;
    }

    .video-container1 {
        position: absolute;
        left: 1800px;
        margin-top: 10px;
        height: auto;
        top: 0px;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
    }
    
    .video-container1 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }
    

    .content2.c2-5 {
        position: absolute; 
        left: 1680px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: row;
    }

    .text-containerrelatedwork{
        position: absolute;
        margin-top: 60px;
        left: 1800px;
        width: 450px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify;
    }

    .text-containerrelatedwork p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-containerrelatedwork1{
        position: absolute;
        margin-top: 60px;
        left: 2300px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-containerrelatedwork1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-container2 {
        position: absolute;
        left: 2350px;
        width: 100%;
        height: auto;
        margin-top: 10px;
        top: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    
    .video-container2 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-6 {
        position: absolute; 
        left: 2000px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-approach{
        position: absolute;
        margin-top: 60px;
        left: 2100px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-approach p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .content2.c2-7 {
        position: absolute; 
        left: 1200px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-data{
        position: absolute;
        margin-top: 60px;
        left: 1300px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-data p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .content2.c2-8 {
        position: absolute; 
        left: 450px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-networkarchitecture{
        position: absolute;
        margin-top: 60px;
        left: 650px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-container-architecture{
        position: absolute;
        left: 650px;
        right: 0px; 
        top: 350px;
        margin-top: 30px;
        bottom: 0px;
        width: 800px; 
        overflow: hidden; 
    }

    .image-container-architecture img {
        height: auto;
        width: 100%;
    }

    .text-container-networkarchitecture1{
        position: absolute;
        margin-top: 60px;
        left: 1150px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    
    .text-container-networkarchitecture2{
        position: absolute;
        margin-top: 60px;
        left: 1650px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture2 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-networkarchitecture3{
        position: absolute;
        margin-top: 60px;
        left: 2150px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture3 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-container3 {
        position: absolute;
        left: 2150px;
        margin-top: 10px;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .video-container3 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }