.s2-1{
    background-color: #fff;
}

.s2-3{
    position: relative; 
    background-color: #fff;  
}

.s2-4{
    position: relative; 
    background-color: #fff;  
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

header a, header img {
    margin-right: 60px; 
}

header a:first-child, header img:first-child {
    margin-right: 60px;
}
body {
    padding-top: 100px; 
    margin: 0; 
}
header img {
    vertical-align: middle; 
    max-width: 100%; 
    height: auto; 
  }

  .content2.c2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    background-size: cover; 
   
    background-position: center; 
    background-repeat: no-repeat; 
  }

  .content2.c2-1 img {
    width: 100%;
    height: 100%;
  }



  .s2-2 {
    position: relative; 
    background-color: #fff;    
}


    .content2.c2-2 {
        position: absolute; 
        left: -40px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 30px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }


    .title {
        position: relative;
        text-align: left;
        top: 40px;
        left: 0px;
        font-family: 'Lato', sans-serif;
        font-size: 32px;
        font-weight: 700;        
    }

    .normal-title {
        color: #5FC6F1;
        z-index: 1;
    }

    .inverted-title {
        position: absolute;
        color: #E00918; 
        transform: scaleX(-1);
        mix-blend-mode: multiply;
        text-align: right;
        display: block; 
        z-index: 2;
    }

    .text-container {
        position: absolute;
        margin-top: 30px;
        left: 50px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify;
        
    }

    .text-container p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-wrap: wrap;
        text-align: justify;
        text-justify: inter-word;
    }

    .video-container {
        position: absolute;
        left: 550px;
        margin-top: -10px;
        height: auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .video-container video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    
    .content2.c2-3 {
        position: absolute; 
        left: -100px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 30px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .container1-text {
        position: absolute;
        margin-top: 30px;
        left: 20px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify; 
    }

    .container1-text p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }
    .image-container {
        position: absolute;
        left: 500px;
        right: 0px; 
        top: 30px;
        margin-top: 30px;
        bottom: 0px;
        width: 50%; 
        overflow: hidden; 
    }

    .image-container img {
        height: 60%;
        width: auto;
    }

    .container2-text {
        position: absolute;
        margin-top: 30px;
        left: 900px;
        max-width: 480px;
        text-wrap: wrap;
        text-align: justify;
        
    }

    .container2-text p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .container3-text {
        position: absolute;
        margin-top: 30px;
        left: 1420px;
        width: 480px;
        max-width: 480px;
        text-align: justify;
        
    }

    .container3-text p {
        margin: 0;
        text-wrap: wrap;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-justify: inter-word;
    }

    .image-container1 {
        position: absolute;
        left: 920px; 
        top: 305px;
        width: 600px;
        height: 400px;
        bottom: 0px;
        overflow: hidden; 
    }

    
    .image-container1 img {
        height: 75%;
        width: 100%s;
    }

    .video-container1 {
        position: absolute;
        left: 1800px;
        margin-top: -10px;
        height: auto;
        top: 0px;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
    }
    
    .video-container1 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }
    

    .content2.c2-5 {
        position: absolute; 
        left: 1680px;
        top: 20px;
        width: auto; 
        height: auto;
        min-height: 30px;
        margin: auto; 
        display: flex;
        flex-direction: row;
    }

    .text-containerrelatedwork{
        position: absolute;
        margin-top: 30px;
        left: 1800px;
        width: 450px;
        max-width: 450px;
        text-wrap: wrap;
        text-align: justify;
    }

    .text-containerrelatedwork p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-containerrelatedwork1{
        position: absolute;
        margin-top: 30px;
        left: 2300px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-containerrelatedwork1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-container2 {
        position: absolute;
        left: 2350px;
        width: 100%;
        height: auto;
        margin-top: -10px;
        top: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    
    .video-container2 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-6 {
        position: absolute; 
        left: 2100px;
        top: -10px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-approach{
        position: absolute;
        margin-top: 20px;
        left: 2200px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-approach p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .content2.c2-7 {
        position: absolute; 
        left: 1300px;
        top: -10px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-data{
        position: absolute;
        margin-top: 20px;
        left: 1380px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-data p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .content2.c2-8 {
        position: absolute; 
        left: 600px;
        top: -10px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-networkarchitecture{
        position: absolute;
        margin-top: 20px;
        left: 800px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-container-architecture{
        position: absolute;
        left: 800px;
        right: 0px; 
        top: 320px;
        bottom: 0px;
        width: 800px; 
        overflow: hidden; 
    }

    .image-container-architecture img {
        height: 70%;
        width: 100%;
    }

    .text-container-networkarchitecture1{
        position: absolute;
        margin-top: 20px;
        left: 1300px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    
    .text-container-networkarchitecture2{
        position: absolute;
        margin-top: 20px;
        left: 1800px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture2 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-networkarchitecture3{
        position: absolute;
        margin-top: 20px;
        left: 2300px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-networkarchitecture3 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-container3 {
        position: absolute;
        left: 2350px;
        margin-top: -10px;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .video-container3 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-9 {
        position: absolute; 
        left: 2100px;
        top: -10px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-latentrepresentation{
        position: absolute;
        margin-top: 20px;
        left: 2200px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-latentrepresentation p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-containerr3 {
        position: absolute;
        left: 2050px;
        margin-top: -10px;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    .video-containerr3 video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-10 {
        position: absolute; 
        left: 1400px;
        top: 0px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-reconstruction{
        position: absolute;
        margin-top: 20px;
        left: 1550px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-reconstruction p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-container2 {
        position: absolute;
        left: 1550px; 
        top: 320px;
        width: 600px;
        height: 260px;
        bottom: 0px;
        overflow: hidden; 
    }

    
    .image-container2 img {
        height: 100%;
        width: 100%s;
    }

    .text-container-reconstruction1{
        position: absolute;
        margin-top: 20px;
        left: 2050px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-reconstruction1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-containerreconstruction {
        position: absolute;
        left: 2300px;
        margin-top: -10px;
        height: auto;
        top: 0px;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
    }
    
    .video-containerreconstruction video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-11 {
        position: absolute; 
        left: 2300px;
        top: 20px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-latentrepresentationstyle{
        position: absolute;
        margin-top: 20px;
        left: 2450px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-latentrepresentationstyle p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-containerrepresentation {
        position: absolute;
        left: 2950px; 
        top: 0px;
        width: 100%;
        height: 100%;
        bottom: 0px;
        overflow: hidden; 
    }

    
    .image-containerrepresentation img {
        height: 85%;
        width: 100%s;
    }

    .image-containerrepresentation1 {
        position: absolute;
        left: 3850px; 
        top: 170px;
        width: 100%;
        height: 70%;
        bottom: 0px;
        overflow: hidden; 
    }

    
    .image-containerrepresentation1 img {
        height: 85%;
        width: 100%s;
    }

    .text-container-latentrepresentationstyle1{
        position: absolute;
        margin-top: 20px;
        left: 3650px;
        text-wrap: wrap;
        width: 450px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-latentrepresentationstyle1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-latentrepresentationstyle2{
        position: absolute;
        margin-top: 20px;
        left: 4150px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }


    .text-container-latentrepresentationstyle2 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .content2.c2-12 {
        position: absolute; 
        left: 3500px;
        top: 40px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-exploringlatentspace{
        position: absolute;
        margin-top: 20px;
        left: 3600px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-exploringlatentspace p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-exploringlatentspace1{
        position: absolute;
        margin-top: 20px;
        left: 4120px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-exploringlatentspace1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-exploringlatentspace2{
        position: absolute;
        margin-top: 20px;
        left: 4650px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-exploringlatentspace2 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-exploringlatentspacee3{
        position: absolute;
        margin-top: 20px;
        left: 5180px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-exploringlatentspacee3 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-exploringlatentspace4{
        position: absolute;
        margin-top: 20px;
        left: 5700px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-exploringlatentspace4 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }
    

    .image-containerexploration {
        position: absolute;
        left: 3600px; 
        top: 300px;
        width: 100%;
        height: 50%;
        bottom: 0px;
        overflow: hidden; 
    }
    .image-containerexploration img {
        height: 75%;
        width: 100%s;
    }

    .image-containerexploration1 {
        position: absolute;
        left: 4400px; 
        top: 300px;
        width: 100%;
        height: 50%;
        bottom: 0px;
        overflow: hidden; 
    }
    .image-containerexploration1 img {
        height: 75%;
        width: 100%s;
    }

    .image-containerexploration2 {
        position: absolute;
        left: 5200px; 
        top: 300px;
        width: 100%;
        height: 50%;
        bottom: 0px;
        overflow: hidden; 
    }
    .image-containerexploration2 img {
        height: 75%;
        width: 100%s;
    }
 

    .content2.c2-13 {
        position: absolute; 
        left: 5000px;
        top: 20px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-transformingskeletons{
        position: absolute;
        margin-top: 20px;
        left: 5150px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-transformingskeletons p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-transformingskeletons1{
        position: absolute;
        margin-top: 20px;
        left: 5680px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-transformingskeletons1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-transformingskeletons2{
        position: absolute;
        margin-top: 20px;
        left: 6210px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-transformingskeletons2 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-containertransforming {
        position: absolute;
        left: 6750px; 
        top: -10px;
        width: 100%;
        height: 100%;
        bottom: 0px;
        overflow: hidden; 
    }
    .image-containertransforming img {
        height: 70%;
        width: 100%s;
    }

    .text-container-transformingskeletons3{
        position: absolute;
        margin-top: 20px;
        left: 7300px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-transformingskeletons3 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .image-containertransforming1 {
        position: absolute;
        left: 7830px; 
        top: -10px;
        width: 100%;
        height: 100%;
        bottom: 0px;
        overflow: hidden; 
    }
    .image-containertransforming1 img {
        height: 75%;
        width: 100%s;
    }

    .video-containertransforming {
        position: absolute;
        left: 8100px;
        margin-top: -10px;
        height: auto;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }
    
    .video-containertransforming video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    
    .content2.c2-14 {
        position: absolute; 
        left: 7850px;
        top: 20px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-conclusion{
        position: absolute;
        margin-top: 20px;
        left: 7980px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-conclusion p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .text-container-conclusion1{
        position: absolute;
        margin-top: 20px;
        left: 8500px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-conclusion1 p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }

    .video-containerconclusion {
        position: absolute;
        left: 8780px;
        margin-top: -10px;
        height: auto;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }
    
    .video-containerconclusion video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }

    .content2.c2-15 {
        position: absolute; 
        left: 8800px;
        top: -10px;
        width: auto; 
        height: auto;
        min-height: 50px;
        margin: auto; 
        display: flex;
        flex-direction: column;
    }

    .text-container-acknowledgments{
        position: absolute;
        margin-top: 20px;
        left: 8980px;
        text-wrap: wrap;
        width: 480px;
        max-width: 1800px;
        text-align: justify;
    }

    .text-container-acknowledgments p {
        margin: 0;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-wrap: wrap;
        text-justify: inter-word;
    }
    
    .video-containeracknowledgments {
        position: absolute;
        left: 9080px;
        margin-top: -10px;
        height: auto;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
    }
    
    .video-containeracknowledgments video {
        width: 100%;
        height: auto;
        max-height: 85%;
    }