/********DEFINICOES GERAIS********/

/*Para desktop:*/
body{
    font-family: "Lato";
}

.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
}

.number{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 0.45rem;
    
}

.word, .word-2{
    text-align: center;
    /*color: #66FFFF;*/
    color: #009FE3;
    text-transform: uppercase;
}

.word-2{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
    transform: scaleX(-1);
    mix-blend-mode: multiply;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .titulo{
        font-size: calc(6rem*0.60);
    }
    .number{
        font-size: calc(2.25rem*0.60);
        letter-spacing: calc(0.45rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .titulo{
        font-size: calc(6rem*0.40);
    }

    .number{
        font-size: calc(2.25rem*0.40);
        letter-spacing: calc(0.45rem*0.40);
    }
    
}




/*
.content{
    font-size: 50px;
    position:absolute;
    top:50%;
    left:50%;
    text-wrap: wrap;
    transform: translateX(-50%) translateY(-50%);
}*/

/*********CONTENTOR-1*********/

/*for desktop*/
.s-1{
    background-color: white;
}

.titulo-cima, .titulo-baio{
    font-size: 6.875rem;
}

.looking{
    top:38.5%;
    font-family: Altabaixa2;
    font-size: 20.625rem;
}

/*for tablet: 1024px ... tirar o vertical scroll*/
@media only screen and (max-width: 1024px){
    .titulo-cima, .titulo-baio{
        font-size: calc(6.875rem * 0.60);
    }
    
    .looking{
        font-size: calc(20.625rem* 0.60);
    }
    
}

/*for mobile -> usar sempre na horizontal!*/
@media only screen and (max-width: 768px){
    .titulo-cima, .titulo-baio{
        font-size: calc(6.875rem * 0.40);
    }
    
    .looking{
        font-size: calc(20.625rem* 0.40);
    }
    
}

/**/
.s-2{
    background-color: beige;
}

.s-3{
 background-color: blue;  
}

/*******CONTENTOR 5*******/
/*s-5 01-works: capa*/

/*for desktop*/
.works{
    top:46.8%;
    font-family:"Franklin Gothic Demi", sans-serif;
    font-size: 17rem;
    line-height: normal;
    font-weight: 600;
}
/*tablet*/
@media only screen and (max-width: 1024px){
    .works{
        font-size: calc(17rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .works{
        font-size: calc(17rem*0.40);
    }
    
}

/*****CONTENTOR 7*****/
/*S-5 02 History capa*/

/*for desktop*/
.history{
    top:47.25%;
    font-family: "Eurostile LT Std", sans-serif; 
    font-size: 15.5rem;
    line-height: normal;
    font-weight: 700;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .history{
        font-size: calc(15.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .history{
        font-size: calc(15.5rem*0.40);
    }
    
}



/*****CONTENTOR 9*****/
/*S-9 03 Name capa*/

/*for desktop*/
.name{
    top:47%;
    font-family: Tiffany; /*n ta a funcionar :c*/
    font-size: 15.5rem;
    line-height: normal;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .name{
        font-size: calc(15.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .name{
        font-size: calc(15.5rem*0.40);
    }
    
}


/*****CONTENTOR 11*****/
/*S-11 04 Design capa*/

/*for desktop*/
.designed{
    top:44.4%;
    font-family: "MrsEaves-Bold"; /*n ta a funcionar :c*/
    font-size: 12.5rem;
    font-style: normal;
    line-height: normal;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .designed{
        font-size: calc(12.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .designed{
        font-size: calc(12.5rem*0.40);
    }
    
}


/*****CONTENTOR 13*****/
/*S-13 05 There capa*/

/*for desktop*/
.there{
    top:43.25%;
    font-family: Univers 65 Bold;
    font-size: 18.75rem;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .there{
        font-size: calc(18.75rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .there{
        font-size: calc(18.75rem*0.40);
    }
    
}





/*****CONTENTOR 16*****/
/*S-16 06 Made capa*/

/*for desktop*/
.made{
    top:37.4%;
    font-family: "Eras Bold ITC", sans-serif; /*n funciona...*/
    font-size: 18.75rem;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .made{
        font-size: calc(18.75rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .made{
        font-size: calc(18.75rem*0.40);
    }
    
}



/*****CONTENTOR 18*****/
/*S-18 07 Reminds capa*/

/*for desktop*/
.reminds{
    top:36.6%;
    font-family:"Futura Hv BT", sans-serif;
    font-size: 18.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .reminds{
        font-size: calc(18.75rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .reminds{
        font-size: calc(18.75rem*0.40);
    }
    
}



/*****CONTENTOR 20*****/
/*S-20 08 Beautifull capa*/

/*for desktop*/
.beautiful{
    top:47.4%;
    font-family: "CaslonCPswash";
    font-size: 17.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .beautiful{
        font-size: calc(17.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .beautiful{
        font-size: calc(17.5rem*0.40);
    }
    
}


/*****CONTENTOR 22*****/
/*S-22 09 Ugly capa*/

/*for desktop*/
.ugly{
    top:40%;
    font-family:"Bookman Swash", serif;
    font-size: 16.25rem;
    font-style:italic;
    text-transform: capitalize;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .ugly{
        font-size: calc(16.25rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .ugly{
        font-size: calc(16.25rem*0.40);
    }
    
}



/*****CONTENTOR 24*****/
/*S-24 10 Boring capa*/

/*for desktop*/
.boring{
    top:43.2%;
    font-family:"TradeGothic LT", sans-serif;
    font-size: 18.75rem;
    font-style: normal;
    line-height: normal;
    font-weight:bold;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .boring{
        font-size: calc(18.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .boring{
        font-size: calc(18.5rem*0.40);
    }
    
}


/*****CONTENTOR 27*****/
/*S-27 11 Special capa*/

/*for desktop*/
.special{
    top:47.4%;
    font-family: "CaslonCPswash";
    font-size: 17.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .special{
        font-size: calc(17.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .special{
        font-size: calc(17.5rem*0.40);
    }
    
}


/*****CONTENTOR 29*****/
/*S-29 12 Believe capa*/

/*for desktop*/
.believe{
    top:47.4%;
    font-family: "CaslonCPswash";
    font-size: 17.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .believe{
        font-size: calc(17.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .believe{
        font-size: calc(17.5rem*0.40);
    }
    
}

/*****CONTENTOR 31*****/
/*S-31 13 Can't not capa*/

/*for desktop*/
.cant{
    top:47.4%;
    font-family: "CaslonCPswash";
    font-size: 17.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

/*tablet*/
@media only screen and (max-width: 1024px){
    .cant{
        font-size: calc(17.5rem*0.60);
    }
    
}
/*mobile*/
@media only screen and (max-width: 768px){
    .cant{
        font-size: calc(17.5rem*0.40);
    }
    
}