/*https://every-layout.dev/rudiments/global-and-local-styling/ */
/*position elements: https://www.w3schools.com/css/css_positioning.asp */
/*blend Mode em CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/blend-mode */

@font-face {
  font-family: "Altabaixa2-Regular";
  src: url("fonts/Altabaixa2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Code Regular";
  src: url("fonts/CascadiaCode.ttf") format("truetype");
}

@font-face {
  font-family: "Eras Bold ITC";
  src: url("fonts/ERASBD.TTF") format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Demi";
  src: url("fonts/FRADM.TTF") format("truetype");
}

@font-face {
  font-family: "Futura Heavy BT";
  src: url("fonts/Futura\ Heavy\ font.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  src: url("fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MrsEaves-Bold";
  src: url("fonts/MRSEAV~1.TTF") format("truetype");
}

@font-face {
  font-family: "Tiffany Regular";
  src: url("fonts/Tiffany\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Trade Gothic LT Bold No.2";
  src: url("fonts/Trade\ Gothic\ LT\ Bold\ No.\ 2.ttf") format("truetype");
}

@font-face {
  font-family: "Univers 65 Bold";
  src: url("fonts/Univers\ 65\ Bold\ Regular.ttf") format("truetype");
}


:root{
  font-family: "Lato";
  --font-size-base: 1rem;
  --font-size-biggish: 10rem;
  --font-size-big: 2.25rem;

}


html, body {
  margin: 0;
  padding: 0;
  
}

.scroll-height{
  position:absolute;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.editorial{
  top: 20px;
}

.colophon{
  bottom: 20px;
}



h1{
  position: absolute;
  /*bottom:50%;*/
  width: 100%;
  font-size: var(--font-size-biggish);
  text-align: center;
}

.artigo{
  cursor: pointer;
  display: block;
  position: absolute;
  top:50%;
}

.artigo1{
  right: 2%;

}

.artigo2{
  left:2%;
}



.al{
  color:aqua;
}

canvas {
  display: block;
}
